@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 5, 23, 49; /* #051731 */
  --color-accent: 123, 71, 254; /* #7B47FE */
}

body {
  color: #ffffff;
  background: radial-gradient(circle at center, rgba(var(--color-accent), 0.2) 0%, rgba(var(--color-accent), 0) 50%),
  rgb(var(--color-primary));
  min-height: 100vh;
}

.gradient {
  color: #ffffff;
  background: radial-gradient(circle at center, rgba(var(--color-accent), 0.2) 0%, rgba(var(--color-accent), 0) 50%),
    rgb(var(--color-primary));
}

.scrollbar {

}
